.headline {
    font-weight: bold;
    text-transform: uppercase;
}
.headline,
.pageNumber,
.filmTitle {
    text-align: center;
}
.container {
    max-width: 1400px;
    margin: auto;
    background-color: lightcoral;
}
.rating {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
#sun,
#moon {
    margin-left: 10px;
}
.light-theme {
    background-color: #eeeeee;
    color: #000;
}
.dark-theme {
    background-color: #222;
    color: #fff;
}
.filmWrap {
    position: relative;
}
.filmOverview {
    margin: 0;
    padding: 0 10px 0;
    font-size: 18px;
}
.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000079;
}
.pop-up {
    position: relative;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px 20px 20px;
}
.close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
